*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}

#logo{
    color: red;
    font-weight: 500;
    text-shadow: 2px 2px 3px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav-bar{
    place-items: center;
    margin-top: 10px;
    background-color: blue;
    
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul a{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.nav-bar ul a:hover{
    background-color: red;
    color: #fff;
}

.nav-bar ul a:active{
    background-color: lime;
    color: #000;
}

.container{
    margin: 10px 10px;
}

img{
    width: 10em;
    height: 10em;
    border-radius: 10em;
}

#intro{
    margin-left: 13px;
}

 #Hi-span{
    color: yellow;
}

#C-span{
    color: orange;
}

#read-me{
   position: absolute;
   top: 13em;
   left: 16em;
   text-align: center;
   color: lime;
 
}

#welcome-msg{
    margin: 10em 0px 0px 20em;
}

#overview{
    position: absolute;
    top: 25em;
    left: 15em;
    color: blue;
}

.skills-container{
    position: absolute;
    top: 60em;
    left: 13em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: 10px;

}

.skills{
    border: solid #fff;
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 40px 0 0 0;
    margin-right: 5em;
    font-weight: 500;
    
}

#icon{
    position: absolute;
    top: 80em;
    left: 75em;
    height: 30vh;
}

#hfm-icon{
    font-size: 40px;
}

#hfm{
    color: lime;
}

#Tech{
    color: red;
}

#made-with{
    color: lime;
    
}

#special{
    color: blue;
    
}

@media screen and (min-width: 320px) and (max-width: 360px){

#logo{
    margin-right: 30px;
}


.nav-bar ul a{
    margin-right: 20px;
}

#read-me{
    top: 14em;
    left: 0.7em;

}

#welcome-msg{
    margin: auto;
    margin-top: 5em;
}


#overview{
    top: 24.5em;
    left: 0.2em;
    color: lime;
    
}

.skills-container{
    top: 54em;
    left: 2em;
    display: block;
}



#icon{
    left: 13.5em;
    top: 86em;
}

}




@media screen and (min-width: 360px) and (max-width: 375px){

#logo{
    margin-right: 20px;
}


.nav-bar ul a{
    margin-right: 20px;
}

 #read-me{
    top: 12.5em;
    left: 0.7em;

}

 #welcome-msg{
    margin: auto;
    margin-top: 5em;
}


#overview{
    top: 22.5em;
    left: 0.2em;
    color: lime;
    
}

.skills-container{
    top: 50em;
    left: 2em;
    display: block;
}



#icon{
    left: 14.5em;
    top: 86em;
}

}




@media screen and (min-width: 375px) and (max-width: 414px){

#logo{
    margin-right: 5px;
}


.nav-bar ul a{
    margin-right: 20px;
}

 #read-me{
    top: 12.5em;
    left: 0.7em;

}

 #welcome-msg{
    margin: auto;
    margin-top: 5em;
}


#overview{
    top: 21.5em;
    left: 0.2em;
    color: lime;
    
}

.skills-container{
    top: 48em;
    left: 2em;
    display: block;
}



#icon{
    left: 16.5em;
    top: 86em;
}

}


@media screen and (min-width: 414px) and (max-width: 436px){
 
#logo{
    margin-right: 5px;
}


.nav-bar ul a{
    margin-right: 20px;
}

 #read-me{
    top: 11.5em;
    left: 0.7em;

}

 #welcome-msg{
    margin: auto;
    margin-top: 5em;
}


#overview{
    top: 21.5em;
    left: 0.2em;
    color: lime;
    
}

.skills-container{
    top: 48em;
    left: 2em;
    display: block;
}



#icon{
    left: 17.5em;
    top: 86em;
}

}
